html{
    font-size: 10px;
}

body{
    font-family: "montserrat-black";
    background-color: #fff;
}

#title{
    background-color: #ff4c68;

    
    
   
}

h1{
    font-family: "Montserrat-black";
    font-size: 5rem;
}

h3{
    font-family: "Montserrat-bold";
    font-size: 2.4rem;

}

p{
    color: #8f8f8f;
    font-size: 1.3rem;
}




.container-fluid{
    padding: 3% 15%;
}

 /* title section */

 .title_nav{
    padding-bottom: 8rem;
    padding-left: 0;
}


.title_navbrand{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}

.nav_item{
    font-size: 1.5rem;
}



.nav_link{
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 20;
    margin-right: 20;
}

.title_text{
    
    color: white;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.2;
    padding-bottom: 4rem;
    
}

.title_btn{
    margin-top: 2rem;
    margin-right: 1.5rem;
    font-size: 2.5rem;
}

.title_img{
    max-width: 55%;
    height: auto;
    transform: rotate(25deg);
    margin: 2.5rem 0 0 11rem;
    position: absolute;
    right: 140px;
    top: -20px;
    
    
 
}

/* features */

#features{
    overflow: hidden;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
    
    
    
    
}


.features_icons{
    color: #ef8172;
    
    
    
}

.features_icons:hover{
    color: #ff4c68;
    font-size: 4rem;
    
    
}
.features_item{
    text-align: center;
}

.features_heading{
    margin-top: 7rem;
    font-size: 3.5rem;
}

.features_text{
    color: #8f8f8f;
    font-size: 2rem;
    margin-bottom: 7rem;

}


/* testimonial */

#testimonial{
    background-color: #ff4c68;
    text-align: center;
    font-family: "Montserrat-bold";
    color: #fff;
    font-size: 2rem;
    position: relative;
    padding:  1% 2%  ;
    
   
    
    
}

h2{
    font-size: 4.5rem;
    font-family: "Montserrat-bold";
    line-height: 1.3;
}


.testimonial_img{
    width: 15%;
    border-radius: 100%;
    padding-top: 5rem;


}



/* press */
#press{
    background-color: #ff4c68;
    text-align: center;
    border-top: 1px;
    border-left: 0rem;
    border-right: 0rem;
    border-bottom: 0rem;
    border-style: solid;
    border-color: #8f8f8f;
    padding: 2% 3%;
}


.press_img{
    width: 12%;
    margin: 0 1rem;
}

#pricing{
    margin: 7% 15%;
    text-align: center;
}


/* call for action */

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 2%;
    padding: 3% 15%;
}

#cta h3{
    font-size: 4.7rem;
    font-weight: bold;
    padding-bottom: 3rem;
    line-height: 1.4;
}

.cta_btn{
    font-size: 1.9rem;
    margin: 0.5%;
    margin-bottom: 2%;
}



#footer{
    text-align: center;
    padding-top: 2%;
    margin: 3% 8%;

}

#footer a{
    color: black;
    font-size: 2rem;
    margin: 0.2%;
}


@media(max-width:992px){
    .title_img{
        position: static;
        transform: rotate(0);
        padding: 0%;
        margin: 0%;
        margin-top: 5%;
        margin-bottom: 5%;

    }
    #title{
        text-align: center;
    }
}